{% extends 'base.html.twig' %}

{% block title %}
  LEA.C
{% endblock %}
{% block logo %}
  <div class="wrapper d-flex align-items-center">
    <a href="{{ path('home') }}" class="nav-link p-0 w-100 d-flex">
      <img src="{{ asset('uploads/images/logo-removebg-preview.png') }}" alt="logo" width="120" height="96" class="d-inline-block align-text-center me-2" />
      <div class="d-block text-uppercase lh-1">
        <h1 class="mb-0 display-4 fw-normal text-white">Lea.C</h1>
        <p class="fs-6 text-white">Coiffure studio</p>
      </div>
    </a>
  </div>
  <div class="w-50 bg-danger position-absolute top-0" style="height: 40rem; border-radius: 0 80px 0 0; z-index: -1"></div>
{% endblock %}
{% block body %}
  {# <style>
       .example-wrapper {
         margin: 1em auto;
         max-width: 800px;
         width: 95%;
         font: 18px/1.5 sans-serif;
       }
       .example-wrapper code {
         background: #f5f5f5;
         padding: 2px 6px;
       }
     </style> #}

  {# <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/stagecoiffure/site/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/stagecoiffure/site/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div> #}
  {# <div class="w-50 bg-danger position-absolute top-0" style="height: 20rem; border-radius: 0 80px 0 0"></div> #}
  <div class="container-fluid">
    <div class="row justify-content-start ms-5">
      <div class="col-md-4 ms-5" style="margin-top: 10rem;">
        <div class="card bg-transparent border-0 text-white">
          <div class="card-body">
            <h3>{{ title }}</h3>
            <h3>{{ description }}</h3>
            <p class="fs-5 mb-0">{{ message }}</p>
            <p class="lh-1 fs-5">{{ suite }}</p>
            <div class="d-inline-flex justify-content-between">
              <a href="{{ path('app_login') }}" class="btn btn-light text-danger">Prendre rendez-vous</a>
              <a href="{{ path('app_login') }}" class="btn btn-outline-light me-5 ms-4 prestations">Nos prestations</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="{{ asset('uploads/images/5c6f6a87579871.5e01e00d36ff8.jpg') }}" alt="" class="img-fluid border border-white border-5 p-3 bg-white" style="border-radius: 0 0 0 80px;" />
      </div>
    </div>
  </div>
{% endblock %}
