{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.date_de_naissance)}}
        {{ form_row(registrationForm.genre)}}
        {{ form_row(registrationForm.adresse)}}
        {{ form_row(registrationForm.code_postal)}}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    {# <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script> #}
{% endblock %}
