{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="/assets/media-queries-register.css">
{% endblock %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="card">
		<div class="vh-100 position-relative">
			<div class="position-absolute top-50 start-50 translate-middle  border border-5 p-5" style="border-radius: 80px 0;">
				<h1 class="text-center">S'inscrire</h1>
				<div class="d-flex align-items-center">
					<div class="col-md-6">
						{{ form_start(registrationForm) }}
						<div class="input-group">
							{{form_label(registrationForm.firstname, null, {label_attr: {class: 'input-group-text', id: 'basic-addon1'}})}}
							{{form_widget(registrationForm.firstname, {attr: {class: 'form-control', aria:'basic-addon1'}})}}
						</div>
						<div class="input-group">
							{{form_label(registrationForm.lastname, 'Nom', {label_attr: {class: 'input-group-text', id: 'basic-addon1'}})}}
							{{form_widget(registrationForm.lastname, {attr: {class: 'form-control', aria:'basic-addon1'}})}}
						</div>
						<div class="input-group">
							{{form_label(registrationForm.email, null, {label_attr: {class: 'input-group-text', id: 'basic-addon1'}})}}
							{{form_widget(registrationForm.email, {attr: {class: 'form-control', aria:'basic-addon1'}})}}
						</div>
						<div class="input-group">
							{{form_label(registrationForm.plainPassword, 'Password', {label_attr: {class: 'input-group-text', id: 'basic-addon1'}})}}
							{{form_widget(registrationForm.plainPassword, {attr: {class: 'form-control', aria:'basic-addon1'}})}}
						</div>
						<div class="input-group">
							{{form_label(registrationForm.date_de_naissance, null, {label_attr: {class: 'input-group-text', id: 'basic-addon1'}})}}
							{{form_widget(registrationForm.date_de_naissance, {attr: {class: 'form-control', aria:'basic-addon1'}})}}
						</div>
					</div>
					<div class="col-md-5 offset-md-1">
						<div class="d-flex justify-content-between">
							{% for personne in registrationForm.genre.children %}
								<div class="fs-4">
									{{ form_widget(personne, { attr: { class: 'form-check-input' } }) }}
									{{ form_label(personne, null, {'label_attr': {'class': 'form-check-label' }})}}
								</div>
							{% endfor %}
						</div>
						<div class="input-group">
						{{ form_label(registrationForm.adresse, null, {label_attr: {class: 'input-group-text'}})}}
						{{ form_widget(registrationForm.adresse, {attr: {class: 'form-control w-100'}})}}
						</div>
						<div class="input-group">
							{{ form_label(registrationForm.code_postal, null, {label_attr: {class: 'input-group-text'}})}}
							{{ form_widget(registrationForm.code_postal, {attr: {class: 'form-control'}})}}
						</div>
						<div class="input-group">
							{{ form_label(registrationForm.ville, null, {label_attr: {class: 'input-group-text'}})}}
							{{ form_widget(registrationForm.ville, {attr: {class: 'form-control'}})}}
						</div>		
						<div class="d-flex justify-content-between">
						<div class="form-check">
							{{ form_label(registrationForm.promotions, null, {label_attr: {class: 'form-check-label'}}) }}
							{{ form_widget(registrationForm.promotions, {attr: {class: 'form-check-input'}}) }}
						</div>
						<div class="form-check">
							{{form_label(registrationForm.agreeTerms, null, {label_attr: {class: 'form-check-label', id: 'flexCheckDefault'}})}}
							{{form_widget(registrationForm.agreeTerms, {attr: {class: 'form-check-input', aria:'flexCheckDefault'}})}}
						</div>
						</div>	
						<div class="form-check">
							{{ form_label(registrationForm.alerteSMS, null, {label_attr: {class: 'form-check-label'}}) }}
							{{ form_widget(registrationForm.alerteSMS, {attr: {class: 'form-check-input'}}) }}
						</div>
					</div>
				</div>
				<div class="d-grid col-6 mx-auto text-center mt-4">
				<button type="submit" class="btn btn-outline-primary">Register</button>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
</div></div></div>{% endblock %}{% block javascripts %}{{ parent() }}<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>{# <script>
						        jQuery(document).ready(function() {
						            $('.js-datepicker').datepicker();
						        });
						    </script> #}{% endblock %}
