{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="/assets/media-queries-reservation.css">
{% endblock %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}
	<div class="container-md">
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div class="row gx-5 justify-content-center">
			<div class="col-8 col-sm-8 taille-portable">
				{{ form_start(form, {attr:{class:"mt-5"}}) }}
				<div class="input-group">
					{{form_label(form.pro, 'Professionnel', {'label_attr': {'class': 'input-group-text'}})}}
					{{form_widget(form.pro, {'attr': {'class': 'form-control'}})}}
				</div>
				{% for Date in form.heure_de_rendez_vous %}
					<div class="input-group mt-2">
						{{form_label(Date, Date.vars.label, {'label_attr': {'class': 'input-group-text'}})}}
						{{form_widget(Date, {'attr': {'class': 'form-control', min: "now"|date("Y-m-d")}})}}
					</div>
				{% endfor %}
					<div>{{ form_errors(form.heure_de_rendez_vous)}}</div>
					<div class="input-group mt-2"> {{form_label(form.prestation, 'Prestation', {'label_attr': {'class': 'input-group-text'}})}}
					{{form_widget(form.prestation, {'attr': {'class': 'form-select'}})}}
				{# {{form_label(form.heure_de_rendez_vous, 'Heure de rendez-vous', {'label_attr': {'class': 'input-group-text'}})}} #}
					{# {{form_widget(form.heure_de_rendez_vous, {'attr': {'class': 'form-control'}})}} #}
				</div>
				<div class="text-center mx-auto mt-3">
					<button type="submit" class="btn btn-outline-primary">Réserver</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
