{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
	<link rel="stylesheet" href="/assets/media-queries-login.css">
{% endblock %}
{% block title %}
	Hello LoginController!
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	{# <div class="container-fluid d-flex w-75 vh-100 justify-content-center align-items-center"> #}
	<div class="vh-100 position-relative">
		<div class="position-absolute top-50 start-50 translate-middle h-75 text-center">
			<i class="fas fa-user-circle fa-5x position-absolute translate-middle text-secondary bg-white rounded-circle"></i>
			<form action="{{ path('app_login') }}" method="post" class="border border-3 p-5" style="border-radius: 0 80px 0 80px;">
				<div class="form__group field input-group">
					<input type="input" class="form__field" placeholder="Email" name="_username" id="username" value="{{ last_username }}"/>
					<label for="username" class="form__label d-flex justify-content-between w-100">Email<i class="fas fa-user"></i>
					</label>
				</div>
				<div class="form__group field my-3" id="show_hide_password">
					<input type="password" name="_password" id="password" class="form__field" placeholder="Password">
					<label for="password" class="form__label d-flex justify-content-between w-100">Password<a href="" class="lien">
							<i class="fa fa-eye-slash" aria-hidden="true"></i>
						</a>
					</label>
				</div>
				<input type="hidden" class="form-control form-control-lg" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="d-grid gap-2 col-8 mx-auto">
					<button type="submit" class="btn btn-primary my-3 rounded-3">Entrez</button>
				</div>
				<p>Pas encore inscrit ? <a href="{{ path('app_register') }}">Inscrivez-vous !</a>
				</p>
			</form>
		</div>
	</div>
{% endblock %}
